.loader-container {
    background: linear-gradient(#141e30, #243b55);
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.loader-container .loader {
    margin-left: -50px;
    animation: 0.4s linear infinite speeder;
    position: absolute;
    top: 50%;
    left: 50%;
}
.loader-container .loader > span {
    background: #f51313;
    border-radius: 2px 10px 1px 0;
    width: 35px;
    height: 5px;
    position: absolute;
    top: -19px;
    left: 60px;
}
.loader-container .base span {
    border-top: 6px solid #0000;
    border-bottom: 6px solid #0000;
    border-right: 100px solid #f3cfcf;
    width: 0;
    height: 0;
    position: absolute;
}
.loader-container .base span:before {
    content: "";
    background: #f3cfcf;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    position: absolute;
    top: -16px;
    right: -110px;
}
.loader-container .base span:after {
    content: "";
    border-top: 0 solid #0000;
    border-bottom: 16px solid #0000;
    border-right: 55px solid #f3cfcf;
    width: 0;
    height: 0;
    position: absolute;
    top: -16px;
    right: -98px;
}
.loader-container .face {
    background: #f3cfcf;
    border-radius: 20px 20px 0 0;
    width: 20px;
    height: 12px;
    position: absolute;
    top: -15px;
    right: -125px;
    transform: rotate(-40deg);
}
.loader-container .face:after {
    content: "";
    transform-origin: 50%;
    background: #f51313;
    border-radius: 0 0 2px 2px;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 7px;
    right: 4px;
    transform: rotate(40deg);
}
.loader-container .loader > span > span {
    background: #fff;
    width: 30px;
    height: 1px;
    position: absolute;
}
.loader-container .loader > span > span:first-child {
    animation: 0.2s linear infinite fazer1;
}
.loader-container .loader > span > span:nth-child(2) {
    animation: 0.4s linear infinite fazer2;
    top: 3px;
}
.loader-container .loader > span > span:nth-child(3) {
    animation: 0.4s linear -1s infinite fazer3;
    top: 1px;
}
.loader-container .loader > span > span:nth-child(4) {
    animation: 1s linear -1s infinite fazer4;
    top: 4px;
}


.loader-container .clouds {
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}
.loader-container .cloud {
    opacity: 0.15;
    background: #fff;
    border-radius: 50%;
    animation: linear infinite moveClouds;
    position: absolute;
}
.loader-container .cloud:before,
.loader-container .cloud:after {
    content: "";
    background: #fff;
    border-radius: 50%;
    position: absolute;
}
.loader-container .cloud:before {
    width: 60%;
    height: 60%;
    top: -30%;
    left: 10%;
}
.loader-container .cloud:after {
    width: 40%;
    height: 40%;
    top: -20%;
    left: 50%;
}
.loader-container .cloud1 {
    width: 100px;
    height: 60px;
    animation-duration: 12s;
    top: 15%;
    left: 100%;
}
.loader-container .cloud2 {
    width: 150px;
    height: 80px;
    animation-duration: 15s;
    animation-delay: -3s;
    top: 35%;
    left: 100%;
}
.loader-container .cloud3 {
    width: 80px;
    height: 50px;
    animation-duration: 18s;
    animation-delay: -8s;
    top: 20%;
    left: 100%;
}
.loader-container .cloud4 {
    width: 100px;
    height: 80px;
    animation-duration: 14s;
    animation-delay: -5s;
    top: 70%;
    left: 100%;
}
.loader-container .cloud5 {
    width: 170px;
    height: 50px;
    animation-duration: 11s;
    animation-delay: -10s;
    top: 80%;
    left: 100%;
}

.loader-container .longfazers {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.loader-container .longfazers span {
    background: #fff;
    width: 20%;
    height: 2px;
    position: absolute;
}
.loader-container .longfazers span:first-child {
    animation: 0.6s linear -5s infinite lf;
    top: 20%;
}
.loader-container .longfazers span:nth-child(2) {
    animation: 0.8s linear -1s infinite lf2;
    top: 40%;
}
.loader-container .longfazers span:nth-child(3) {
    animation: 0.6s linear infinite lf3;
    top: 60%;
}
.loader-container .longfazers span:nth-child(4) {
    animation: 0.5s linear -3s infinite lf4;
    top: 80%;
}


@keyframes lf {
    0% {
        left: 200%;
    }
    to {
        opacity: 0;
        left: -200%;
    }
}
@keyframes lf2 {
    0% {
        left: 200%;
    }
    to {
        opacity: 0;
        left: -200%;
    }
}
@keyframes lf3 {
    0% {
        left: 200%;
    }
    to {
        opacity: 0;
        left: -100%;
    }
}
@keyframes lf4 {
    0% {
        left: 200%;
    }
    to {
        opacity: 0;
        left: -100%;
    }
}


@keyframes fazer1 {
    0% {
        left: 0;
    }
    100% {
        left: -80px;
        opacity: 0;
    }
}
@keyframes fazer2 {
    0% {
        left: 0;
    }
    100% {
        left: -100px;
        opacity: 0;
    }
}
@keyframes fazer3 {
    0% {
        left: 0;
    }
    100% {
        left: -50px;
        opacity: 0;
    }
}
@keyframes fazer4 {
    0% {
        left: 0;
    }
    100% {
        left: -150px;
        opacity: 0;
    }
}


@keyframes speeder {
    0% {
        transform: translate(2px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -3px) rotate(-1deg);
    }
    20% {
        transform: translate(-2px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 3px) rotate(-1deg);
    }
    60% {
        transform: translate(-1px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-2px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(2px, 1px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}
@keyframes lf {
    0% {
        left: 200%;
    }
    100% {
        left: -200%;
        opacity: 0;
    }
}
@keyframes lf2 {
    0% {
        left: 200%;
    }
    100% {
        left: -200%;
        opacity: 0;
    }
}
@keyframes lf3 {
    0% {
        left: 200%;
    }
    100% {
        left: -100%;
        opacity: 0;
    }
}
@keyframes lf4 {
    0% {
        left: 200%;
    }
    100% {
        left: -100%;
        opacity: 0;
    }
}
@keyframes moveClouds {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-200vw);
    }
}
